@model CourseShop.DataLayer.Entity.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.Username عزیز !</h2>
    <p>برای بازیابی کلمه عبور خود لطفا بر روی لینک زیر کلیک کنید</p>
    <p>
        <a href="https://localhost:44361/Account/RessetPassword/@Model.ActivateCode">فعالسازی حساب کاربری</a>
    </p>
</div>
