<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">

<head>
    <title> فروشگاه دوره  | @ViewData["Title"] </title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
    <script src="/js/jquery.min.js"></script>
</head>

<body>
    <script src="/js/modernizr-custom.js"></script>
    <div class="landing-layer">
        <div class="container">
            <partial name="_Nav" />
            @RenderSection("_SearchBox", false)


        </div>
    </div>

    <!-- main manu -->
    <partial name="_MainMenu" />
    <!-- /main manu -->
    @RenderBody()

    <partial name="_Footer" />
    <!-- footer -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>


