@using CourseShop.Core.Interfaces

@inject ICourseGroupServices courseShopService;

@{
    var coursesGroups = courseShopService.GetCourseGroupList();
}

<div class="main-menu">
    <div class="container">
        <nav>
            <span class="responsive-sign"><i class="zmdi zmdi-menu"></i></span>
            <ul>
                @foreach (var item in coursesGroups.Where(c => c.ParentId == null))
                {
                    <li>
                        <a href="#">@item.CourseGroupTitle</a>

                        @if (coursesGroups.Any(c => c.ParentId == item.ParentId))
                        {
                            <ul>
                                @foreach (var subGroup in coursesGroups.Where(c => c.ParentId == item.CourseGroupId))
                                {
                                    <li>
                                        <a href="#">@subGroup.CourseGroupTitle</a>
                                    </li>
                                }
                            </ul>
                        }

                    </li>
                }
            </ul>
        </nav>
    </div>
</div>