@model CourseShop.Core.DTOs.ChangePasswordViewModel

@{
    ViewData["Title"] = "تغییر رمز عبور";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">فروشگاه دوره</a></li>
            <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
        </ul>
    </nav>
</div>


<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <partial name="_Sidebar" />
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <main class="client-page" style="padding:unset !important">
                        <div class="container-content">

                            <header><h2> تغییر رمز عبور </h2></header>

                            @if (ViewBag.IsSuccess == true)
                            {
                                <div class="alert alert-success">
                                    <p help-text>
                                        پسوورد شما با موفقیت تغییر پیدا کرد لطفا مجددا با پسوورد جدید وارد سایت شوید
                                    </p>
                                    <script>
                                        $(document).ready(function () {
                                            setTimeout(function () {
                                                window.location.href = "/Logout"
                                            }, 3000);
                                        });
                                    </script>
                                </div>
                            }

                            @if (ViewBag.IsSuccess == false)
                            {
                                <div class="alert alert-danger">
                                    <p class="help-text">
                                        خطا!
                                    </p>                <p class="help-text">
                                        رمز  فعلی وارد شده صحیح نمی باشد لطفا مجددا تلاش کنید
                                    </p>
                                </div>
                            }


                            <div class="form-layer">

                                <form asp-controller="Home" asp-action="ChangePassword" method="post">

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                        <input type="password" asp-for="OldPassword" class="form-control" placeholder="رمز عبور فعلی">
                                    </div>
                                    <span asp-validation-for="OldPassword"></span>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                        <input type="password" asp-for="NewPassword" class="form-control" placeholder="رمز عبور جدید ">
                                    </div>
                                    <span asp-validation-for="NewPassword"></span>

                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
                                        <input type="password" asp-for="Repassword" class="form-control" placeholder=" تکرار رمز عبور جدید ">
                                    </div>
                                    <span asp-validation-for="Repassword"></span>

                                    <div>
                                        <button type="submit" class="btn btn-success"> تغییر رمز عبور </button>
                                    </div>

                                </form>
                            </div>

                        </div>
                    </main>

                </div>
            </div>
        </div>
    </div>
</main>

