
@{
    ViewData["Title"] = "انقضای لینک وارد شده";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">فروشگاه دوره</a></li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
        </ul>
    </nav>
</div>

<div class="container" style="min-height:800px">
    <div class="alert alert-danger">
        <p class="help-text">
            لینک وارد شده معتبر نمی باشد لطفا مجددا سعی کنید
        </p>
    </div>
</div>

