@model CourseShop.Core.DTO.ForgotPasswordViewModel
@{
    ViewData["Title"] = "فراموشی رمز عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">فروشگاه دوره</a></li>
            <li class="breadcrumb-item active" aria-current="page">فراموشی رمز عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">

        <header><h2> فراموشی رمز عبور </h2></header>

        @if (ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success">
                <p class="text-help">
                    ایمیلی حاوی لینک بازیابی کلمه عبور برای @Model.Email ارسال گردید.
                </p>
                <p class="help-text" >
                    لطفا جهت بازیابی رمز عبور به ایمیل مراجعه کنید
                </p>
            </div>

        }

        @if (ViewBag.IsSuccess == false)
        {
            <div class="alert alert-danger">
                <p class="help-text">
                    کاربری با ایمیل وارد شده در سیستم یافت نشد
                </p>
            </div>
        }

        <div class="form-layer">

            <form asp-controller="Account" asp-action="ForgottenPassword">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input type="text" asp-for="Email" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span asp-validation-for="Email"></span>

                <div class="link">
                    <a href=""> <i class="zmdi zmdi-account"></i> ورود به سایت </a>
                </div>

                <button class="btn btn-success"> ثبت </button>

            </form>
        </div>

    </div>
</main>
